.hide{
    visibility: hidden;
}

h2{
    text-align: center;
    margin: 20px 0px;
    font-size: 30px;
}

.executive-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 0px;
}

.executive-wrapper div{
    flex-basis: 200px;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

.executive-wrapper img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.executive-wrapper figure{
    text-align: center;
}

.executive-wrapper figcaption{
    margin-top: 10px;
}

