main section h2{
    text-align: center;
    margin: 20px 0px;
    border: 1px solid rgb(224, 224, 233, 0.5);
    border-radius: 2px;
    padding: 5px 0px;  
    box-shadow: 1px 2px 3px silver;  
}

.announcment-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 20px;
}

.announcment-item{
    height: max-content;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 4px 4px 3px lightgrey, -1px -1px 2px lightgrey;
}

.announcment-item h3{
    font-size: 21px;
    margin-bottom: 20px;
}

.announcment-item dd{
    text-indent: 20px;
    margin-bottom: 10px;
}

.announcment-item ul li{
    border: 1px solid lightgrey;
    border-radius: 5px;
    height: max-content;
    padding: 10px 5px;
    margin: 5px 0px;
}

.announcment-item ul{
    list-style-position: inside;
}

.announcment-item ul li:hover{
    box-shadow: 2px 2px 2px grey;
    text-indent: 10px;
}
