h2{
    text-align: center;
    margin: 30px 0px;
    font-size: 35px;
}

.executive-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.executive-wrapper img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.executive-wrapper figure{
    text-align: center;
}

figure figcaption{
    margin-top: 10px;
}

figure span a{
    text-decoration: none;
    color: blue;
}
