h2{
    text-align: center;
    margin: 20px 0px;
    font-size: 30px;
}

.batch-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 0px;
}

.batch-wrapper div{
    flex-basis: 200px;
    padding: 5px 0px;
    border-radius: 5px;
}

.batch-wrapper div:hover{
    box-shadow: 2px 2px 2px grey;
}

section div img{
    width: 250px;
    height: 200px;
    border-radius: 10px;
}

