*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* keeps the default colors for all links */
a:visited{
    color: blue;
}

body{
    margin: 2px 0px 0px 0px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content auto max-content;
    grid-template-areas: "nav"
                         "main"
                         "footer";
}

/* NAVIGATION */
nav{
    grid-area: nav;
    position: sticky;
    top: 0px;
    background-color: white;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    font-family: monospace;
    font-size: 18px;
    list-style-type: none;
    background-color: rgba(215, 226, 255, 0.45);
}

nav ul li {
    flex-basis: 20%;
    text-align: center;
}

nav ul li:hover{
    box-shadow: 2px 2px 2px grey;
    background-color: rgb(42, 42, 143);
    border-radius: 2px;
}

.active{
    background-color: rgb(84, 84, 148);
}

.active a{
    color: white;
}

nav ul a{
    text-decoration: none;
    display: block;
    padding: 15px 0px;
}

nav ul a:hover{
    color: white;
}


/* MAIN CONTENTS */
main{
    /* display: none; */
    grid-area: main;
    width: 97%;
    margin: auto;
}


/* FOOTER */
footer{
    grid-area: footer;
    background-color: rgb(49, 48, 63);
    color: white;
}

footer h3{
    color: rgb(235, 235, 222);
    margin-bottom: 10px;
    text-align: center;
}

footer section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px 0px;
}

footer ul{
    list-style-type: none;
}

footer ul li{
    padding: 5px 0px;
}

footer section div{
    text-align: center;
    flex-basis: 30%;
}

.address ul{
    font-style: italic;
}

.quick-links ul li{
    list-style-position: inside;
    list-style-type: circle;
}

.quick-links a{
    color: white;
    text-decoration: none;
}

.quick-links ul li:hover{
    text-indent: 20px; 
}

.social-media ul li{
    list-style-type: none;
    list-style-position: inside;
}

.social-media ul li a{
    display: block;
    text-decoration: none;
    font-size: 18px;
    color: rgb(135, 140, 212);
}

.social-media ul li a:hover{
    font-style: italic;
    text-decoration: underline;
}

.copyright{
    background-color: rgba(59, 63, 85, 0.747);
    text-align: center;
    color: rgb(184, 178, 178);
    padding: 5px 0px;
}




/* ============ MEDIA QUERIES ============= */

@media screen and (max-width: 460px){
    nav ul{
        justify-content: space-around;
    }

    nav ul li{
        flex-basis: 25%;
    }

    footer section{
        display: flex;
        flex-direction: column;
    }

    footer section div{
        flex-basis: 90%;
        margin: 10px 0px;
    }

    footer section div h3{
        border-bottom: 3px solid grey;
    }
}
