*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* keeps the default colors for all links */
a:visited{
    color: blue;
}

body{
    margin: 2px 0px 0px 0px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

/* NAVIGATION */
nav{
    background-color: white;
    position: sticky;
    top: 0px;
    background-image: linear-gradient(to bottom, skyblue, darkgrey);
}

nav ul{
    display: flex;
    justify-content: flex-end;
    font-family: monospace;
    font-size: 18px;
    list-style-type: none;
    background-color: rgba(215, 226, 255, 0.5);
}

nav ul li {
    flex-basis: 150px;
    text-align: center;
}

nav ul li:hover{
    background-color: navy;
    box-shadow: 2px 2px 2px grey;
}

.active{
    background-color: navy;
}

.active a{
    color: white;
}

nav ul a{
    text-decoration: none;
    display: block;
    padding: 10px 0px;
}

nav ul a:hover{
    color: white;
}


/* MAIN CONTENTS */
main{
    width: 97%;
    margin: 30px auto;
}


/* FOOTER */
footer{
    background-color: #303036;
    color: white;
    position: relative;
}

footer h3{
    margin-bottom: 10px;
}

footer section{
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
    flex-wrap: wrap;
}

footer ul li{
    padding: 5px 0px;
    list-style-type: none;
}

footer section div{
    flex-basis: 250px;
    margin: 10px;
}

.quick-links ul li{
    list-style-position: inside;
    list-style-type: circle;
}

.quick-links a{
    color: white;
    text-decoration: none;
}

.quick-links ul li:hover{
    text-indent: 10px;  
    text-decoration: underline; 
}

.social-media ul li{
    list-style-type: none;
    list-style-position: inside;
}

.social-media ul li a{
    /* text-decoration: none; */
    font-size: 18px;
    color: rgb(31, 46, 247);
}

.copyright{
    background-color: rgba(59, 63, 85, 0.747);
    text-align: center;
    color: rgb(184, 178, 178);
    padding: 5px 0px;
}
