header{
    text-align: center;
    /* margin: 30px 0px; */
    font-family: Helvetica, sans-serif;
    padding: 30px 0px;
    font-size: 20px;
}

h1{
    font-size: 50px;
}

main section{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* all divs in the main section */
main section div{
    flex-basis: 500px;
    margin: 5px;
    padding: 10px;
}

.summary h3{
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}

.summary{
    line-height: 1.5em;
    font-size: 18px;
}

.image > img{
    border-radius: 5px;
    box-shadow: 6px 10px 5px grey;
} 


/* ============ MEDIA QUERIES ============= */

@media screen and (max-width: 650px){
    .image > img{
        width: 100%;
    }
}

